
.nav-list-item{
    position: relative;
}
.dropdown-panel{
    position: absolute;
    top: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);

    transition: opacity 0.3s ease, transform 0.3s ease;
}
.nav-list-item:hover .dropdown-panel{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

